<h1> HELLO BRO </h1>

<% if current_user %>
  <h2> <%= current_user.email%> </h2>
   <%= link_to "Logout", users_sign_out_path, class: 'nav-link' %>
<%else%>
  <%= link_to "Signin", new_user_session_path, class: 'nav-link' %>
<%end%>
